body {
    background: #454545;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.loginwindow {
    padding: 8px;
    position: fixed;
    margin: auto;
    background: white;
    border-radius: 2px;
    box-shadow: 1px 2px 2px #232323;
}

.loginheader {
    font-size: 16px;
    color: #666;
    border-bottom: 1px solid #777;
    padding: 0px 10px 6px;
    margin-bottom: 10px;
}

.error {
    color: red;
    font-size: 12px;
    padding: 8px 12px;
}

.logincontent label {
    font-size: 12px;
    padding: 0px 10px;
}

.logincontent input {
    background: white;
    border: 1px solid #aaa;
    border-radius: 2px;
    padding: 4px 6px;
    color: #333;
}

.logincontent button {
    margin: 10px 0px 5px;

    float: right;
    background: #4CAF50;
    border: 1px solid #388e3c;
    border-radius: 2px;
    padding: 6px 12px;
    color: white;
}
